.chat-input {
  position: relative;
  display: flex;
  align-items: center;
}

.chat-input .input {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.chat-input .input::placeholder {
  color: transparent;
}

.chat-input .input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.chat-input .input.active {
  background-color: #fff;
  border: 1px solid rgb(91, 107, 255);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 45px;
}

/* .chat-input .input:focus + .icon,
.chat-input .input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
} */
